build/
DerivedData/
xcuserdata/
*.xcuserstate
.DS_Store
server/.venv/
server/__pycache__/
build-sign/
CantoType.xcodeproj/
Config/Signing.xcconfig
ios/CantoTypeMobile.xcodeproj/
ios/Config/Signing.xcconfig
ios/build/
